*{
    margin: 0 auto;
}
body{
    background-image: url(../images/fundo.jpg);
    background-size: cover;
}

.conteudo-principal{
    height: 100vh;
    background: rgba(0,0,0,0.5);
}

.titulo{
    font-size: 300%;
    text-align: center;
    color: white;
    font-family: Open Sans;
    margin-bottom: 1em;
}

.container{
    border: 1px solid white;
    width: 13%;
    height: 3%;
    text-align: center;
    padding: 7px;
    color: white;
    display: inline-block;
}

.container:hover{
    background: white;
    color: black;
    cursor: pointer;
}
